dual_quaternions==0.3.1
keras==2.10.0
lxml==4.5.0
matplotlib==3.1.2
numpy==1.17.4
PyYAML==6.0
setuptools==45.2.0
tensorflow==2.10.0
tqdm==4.64.0
transformations==2022.8.26
urdf_parser_py==0.0.4
visual_kinematics==0.2.1
